.lets-work-content {
  display: flex;
  padding: 1.5rem;
  font-size: 36px;
  justify-content: space-between;
}
.lets-work-content span {
  display: flex;
  gap: 8px;
  align-items: center;
}
.lets-work-content p:last-child {
  color: #5b78f6;
  /* 052A75 */
}
.lets-work-content img:first-child {
  width: 3rem;
  height: 6rem;
}
.lets-work-content div {
  align-self: self-end;
}
@media screen and (max-width: 425px) {
  .lets-work-content {
    padding: 1rem;
    font-size: 32px;
  }

  .lets-work-content span {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
}
