.card {
  /* width: 100%; */
  min-height: 12rem;
  background: var(--background-card-color);
  border-radius: 16px;
  border: var(--border-card);
  color: var(--invert-color);
  display: grid;
}

@media screen and (max-width: 425px) {
  .card {
    min-height: 0px;
  }
}
