@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
  max-width: 1400px;
}
body.light {
  --main-color: #f7f9fc;
  --invert-color: #0f0f0f;
  --background-card-color: #ffffff;
  --card-content-color: #000000;
  --border-card: solid 1px #bcbcbc;
  --title-color: #5b78f6;
  --img-button-theme: url('img-button-theme/night-mode-black.png');
  --img-button-theme-hover: url('img-button-theme/night-mode.png');
  --img-button-menu: url('img-home/menu.png');
  --img-icon-card: url('icons/icon-black.png');
}

body.dark {
  --main-color: #0f0f0f;
  --invert-color: #f7f9fc;
  --background-card-color: linear-gradient(90deg, #363636 7%, #1c1c1c 78%);
  --card-content-color: #bcbcbc;
  --border-card: solid 1px #363636;
  --title-color: #ffffff;
  --img-button-theme: url('img-button-theme/light-mode.png');
  --img-button-theme-hover: url('img-button-theme/light-mode-black.png');
  --img-button-menu: url('img-home/menu-white.png');
  --img-icon-card: url('icons/icon-white.png');
}
