.card-img {
  padding: 1rem 1rem 0 1rem;
}
.card-img img {
  height: 6rem;
  width: 100%;
  border-radius: 4px;
  object-fit: contain;
}
.card-img video {
  width: 100%;
  border-radius: 10px;
}
.card-content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  word-break: break-word;
}
.card-content div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card-content p:first-child {
  font-size: 12px;
  color: #bcbcbc;
}
.card-content p:last-child {
  font-size: 14px;
}
.card-icon {
  width: 2rem;
  height: 2rem;
}

a {
  color: var(--invert-color);
}

@media screen and (max-width: 425px) {
  .card-content {
    align-items: center;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    gap: 8px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-img {
    padding: 0.7rem;
  }
  .card-content div {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .card-content p:first-child {
    font-size: 12px;
  }
  .card-content p:last-child {
    font-size: 12px;
    text-transform: uppercase;
  }
}
